.button {
  background-color: chocolate;  
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  width: 35%;
  font-size: 20px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin-left: 5px ;
 
}

.button:hover {
  background-color: #444;
  color: chocolate;

}


